@model Exception
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <div>
            <p>
                <b>Exception:</b> @Model.Message<br />
            </p>
            <div style="overflow:scroll">
                <pre>
                    @Model.StackTrace
                </pre>
            </div>
        </div>
    </hgroup>
</body>
</html>
